@model FossTech.Models.BotAttempt

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BotAttempt</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IpAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IpAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserAgent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserAgent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttemptedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttemptedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reason)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
