
@model IEnumerable<FossTech.Models.Review>

@{
    ViewData["Title"] = "Index";
}



<div class="col-sm-12">
    <div class="card">
        <div class="card-header pb-1 d-flex justify-content-between">
            <div><h5>Rating & Review</h5></div>
            <div>
                <a class="btn btn-primary " style="background-color: red; border: none;" asp-action="Delete">Delete</a>
                <a class="btn btn-primary " style=" background-color: orange; border: none;" asp-action="ExporttoExcel">Download</a>
                <a class="btn btn-primary " style="border: none;" asp-action="Create">Create New</a>
            </div>
            
        </div>
        <div class="card-body">
            <div class="dt-responsive table-responsive">
                <table id="simpletable" class="table table-striped table-bordered nowrap">
                    <thead>
                    <thead>
                        <tr>
                            <th class="no-sort">Select</th>
                            <th class="no-sort">Action</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Product)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.User)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Rating)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Headline)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.WrittenReview)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedAt)
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="form-check">
                                <div class="" style="padding-left: inherit;">
                                    <input productid="3" class="check-input" style="width:30px; height: 40px; " type="checkbox">
                                </div>
                            </td>
                            <td class="dropdown">
                             
                                    <button type="button" class="btn btn-primary" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-cog"></i></button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item text-primary" asp-action="Details" asp-route-id="@item.Id"><i class="icofont icofont-eye-alt"></i>View</a></li>
                                        <li><a class="dropdown-item text-success" asp-action="Edit" asp-route-id="@item.Id"><i class="icofont icofont-edit"></i>Edit</a></li>
                                        <li><a class="dropdown-item text-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="icofont icofont-ui-delete"></i>Delete</a></li>
                                    </ul>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Product.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Rating)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Headline)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.WrittenReview)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedAt)
                            </td>

                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




@section styles {
    <link rel="stylesheet" type="text/css" href="/lib/DataTables/DataTables-1.10.20/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="/lib/DataTables/Buttons-1.6.1/css/buttons.dataTables.min.css" />
}

@section Scripts {
    <script type="text/javascript" src="/lib/DataTables/DataTables-1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/lib/DataTables/JSZip-2.5.0/jszip.min.js"></script>
    <script type="text/javascript" src="/lib/DataTables/Buttons-1.6.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="/lib/DataTables/pdfmake-0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="/lib/DataTables/pdfmake-0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="/lib/DataTables/Buttons-1.6.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="/lib/DataTables/Buttons-1.6.1/js/buttons.print.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#simpletable').DataTable({
                dom: 'lBfrtip',
                buttons: [{
                        extend: 'pdf',
                        title: 'sachem',
                        filename: "@DateTime.Now.ToFileTime()",
                        exportOptions: {
                            columns: [ 0, 1, 2]
                        }
                    }, {
                        extend: 'excel',
                        title: 'sachem',
                        filename: "@DateTime.Now.ToFileTime()",
                        exportOptions: {
                            columns: [ 0, 1, 2]
                        }
                    }, {
                        extend: 'csv',
                        title: 'sachem',
                        filename: "@DateTime.Now.ToFileTime()",
                        exportOptions: {
                            columns: [ 0, 1, 2]
                        }
                    },
                    {
                        extend: 'print',
                        title: 'sachem',
                        filename: "@DateTime.Now.ToFileTime()",
                        exportOptions: {
                            columns: [ 0, 1, 2]
                        }
                    }],
                "order": [],
                "columnDefs": [ {
                    "targets"  : 'no-sort',
                    "orderable": false,
                }],

            });

        });

    </script>
}