@model FossTech.Models.BusinessProfile


@* <div class="side-social-icons">
    <ul class="">
        @if (@Model.WhatsAppNumber != null) {
        <li class="">
            <a href="https://wa.me/@Model.WhatsAppNumber.Replace(" + ", " ")" target="_blank"> *@
                @*<i class="fab fa-whatsapp" style="color: green;"></i>*@
                @*<img src="~/img/socialicons/whatsapp.png"/>*@
                    @* <i style="color: #4FCE5D;" class="fa-brands fa-whatsapp"></i>
            </a>
        </li>
        } @if (@Model.FacebookPageLink != null) {
        <li class="nav-item">
            <a href="@Model.FacebookPageLink" target="_blank"> *@
                @*<i class="fab fa-facebook" style="color: royalblue;"></i>*@
                    @*<img src="~/img/socialicons/facebook.png" />*@
                    @* <i style="color: #3b5998;" class="fa-brands fa-facebook"></i>
            </a>
        </li>
        } @if (@Model.InstagramPageLink != null) {
        <li class="nav-item">
            <a href="@Model.InstagramPageLink" target="_blank"> *@
                @*<i class="fab fa-instagram" style="color: palevioletred;"></i>*@
                    @*<img src="~/img/socialicons/instagram.png" />*@
                    @* <i style="color: #bc2a8d;" class="fa-brands fa-instagram"></i>
            </a>
        </li>
        } @if (@Model.TwitterLink != null) {
        <li class="nav-item">
            <a href="@Model.TwitterLink" target="_blank"> *@
                @*<i class="fab fa-twitter" style="color: cornflowerblue;"></i>*@
                    @*<img src="~/img/socialicons/twitter.png" />*@
                    @* <i style="color: #00acee;" class="fa-brands fa-twitter"></i>
            </a>
        </li>
        } @if (@Model.LinkedInLink != null) {
        <li class="nav-item">
            <a href="@Model.LinkedInLink" target="_blank"> *@
                @*<i class="fab fa-linkedin" style="color: royalblue;"></i>*@
                    @*<img src="~/img/socialicons/linkedin.png" />*@
                   @*  <i style="color: #0A66C2;" class="fa-brands fa-linkedin"></i>
            </a>
        </li>
        }
        @if (@Model.YoutubeLink != null) {
        <li class="nav-item">
            <a href="@Model.YoutubeLink" target="_blank"> *@
                @*<i class="fab fa-youtube" style="color: #FF0000;"></i>*@
                    @*<img src="~/img/socialicons/youtube.png" />*@
        @*             <i style="color: #FF0000;" class="fa-brands fa-youtube"></i>
            </a>
        </li>
        }
    </ul>
</div> *@
@* @if (Model.WhatsAppNumber != null)
{
    <div class="ContactUsButton ">
        <a title="WhatsApp" href="https://wa.me/@Model.WhatsAppNumber.Replace("+", "")" class="chat-btn ui-color">Chat Now<i class="fab fa-whatsapp fa-5x" style="font-size: 20px; color: #25D366; text-align: center; margin-left: 8px;"></i></a>
    </div>
}

 *@